:root {
  --primary-color:  rgb(133, 120, 156);
  --primary-color-darker: rgb(33, 29, 39);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color-darker);
  font-family: serif;
  font-size: 1.3em;
  line-height: 2.5em;
}

p {
  font-size: 50px;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #c4bdb7;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color-darker);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color);
}

.paused {
  color: red;
}